body{
    width:270;
}

ul{
    width: 250;
}
li{
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    list-style: none;
    width: 25;
    height: 25;
}

ts{
    position: absolute;
}

li img{
    position: relative;
}

#control_div{
    position: absolute;
    top:540;
    left: 140;
}

#bg{
    position: absolute;
    left: 47;
}
#fboard_div{
    z-index: 2;
    position: absolute;
    top:-8;
    left: 100;
}
#board_div{
    position: absolute;
    top:-8;
    left: 100;
}


#next_div{
    border: 1px solid black;
    height: 500;
    width: 100;
    position: absolute;
    top:20;
    left:410;
}

#hold_div{
    border: 1px solid black;
    height: 100;
    width: 100;
    position: absolute;
    top:20;
}
